{
    "settings": {
        "generateReport": true,
        "reportPath": "C:\\Users\\Administrator\\BackupValidiationLab\\report.html",
        "leaveLabRunning": false,
        "emailReport": true
    },
    "virtualMachines": [
        {
            "name": "MPRESTON-WIN",
            "mountName": "MPRESTON-WIN-MOUNT",
            "credentials": "LocalAdministrator",
            "skipPingTest": false,
            "skipToolsTest": false,
            "tasks": [
               {
                   "Name": "PortStatus",
                   "Port": "80",
                   "SuccessIf": "Closed"
               },
               {
                    "Name": "PortStatus",
                    "Port": "3389",
                    "SuccessIf": "Open"
               },
               {
                   "Name": "WindowsService",
                   "ServiceName": "MSSQLSERVER"
               },
               {
                   "Name": "WindowsService",
                   "ServiceName": "W32Time"
               }
            ]
        },
        {
            "name": "MPRESTON-SQL",
            "credentials":"LocalAdministrator",
            "mountName":"MPRESTON-SQL-MOUNT",
            "skipPingTest": false,
            "skipToolsTest": false,
            "tasks": [
                {
                    "Name": "WindowsService",
                    "ServiceName": "W32Time"
                },
                {
                    "Name": "PortStatus",
                    "Port": "3389",
                    "SuccessIf": "Open"
                }
            ]
        }
    ]
}