{
    "VMware": {
        "vCenterServer": "vcsa.rubrik.us",
        "Credentials": "C:\\creds\\vsphere.creds"
    },
    "Rubrik": {
        "RubrikCluster": "cluster-b.rubrik.us",
        "APIAuthToken": "c:\\creds\\rubrik.token"
    },
    "GuestCredentials": [
        {
            "CredentialName": "LocalAdministrator",
            "Credentials": "C:\\creds\\localadmin.creds"
        },
        {
            "CredentialName": "DomainAdministrator",
            "Credentials": "C:\\creds\\domainadmin.creds"
        }
    ]
}