{
    "RouterName": "rbk-route",
    "RouterPassword": "SuperSecret123!",
    "RouterAPIKey": "rbkapikeysecret",
    "VMwareHost": "esxi31.rubrik.us",
    "VMwareDatastore": "Gold",
    "ManagementNetwork": "Management",
    "ManagementNetworkIP": "10.8.96.151",
    "ManagementNetworkSubnet": "255.255.255.0",
    "ManagementNetworkGateway": "10.8.96.1",
    "IsolatedNetworks": [
      {
        "ProductionNetworkName": "VM_NETWORK",
        "IsolatedPortGroup": "VM_NETWORK_isolated",
        "InterfaceAddress": "10.8.112.1",
        "InterfaceSubnet": "255.255.252.0",
        "MasqueradeNetwork": "192.168.112.0",
        "DHCPEnabled": true,
        "DHCPScopeStart": "10.8.113.1",
        "DHCPScopeEnd": "10.8.113.200",
        "DHCPNameserver": "10.8.112.30",
      }
    ]
}
